{% extends 'base.html' %}
{% load static %}
{% block title %}Download PubMed data into MS Excel{% endblock %}
{% block styles %}<link href="{% static 'pubmed2xl/css/style.css' %}" rel="stylesheet"crossorigin="anonymous">{% endblock %}
{% block lead %}Web application to download PubMed data into a Microsoft Excel spreadsheet{% endblock %}
{% block description%}Download thousands of PubMed citations into a spreadsheet. Free, no ads, secure, encrypted, privacy, untraceable and simple to use.{% endblock %}
{% block pagelink %}
<div class="col-3 d-flex">
  <a class="btn btn-sm btn-outline-light" href="{% url 'pubmed2xl:download_xml' %}">Download to XML</a>
</div>
{% endblock %}

{% block menu %}
<div class="col-3 d-flex justify-content-end align-items-center">
  <a class="btn btn-sm btn-outline-light" href="{% url 'pubmed2xl:faq' %}">FAQ's</a>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <form method="POST" action="." class="needs-validation" novalidate="" _lpchecked="1">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="card bg-dark border-dark text-white">
          <!-- <h5 class="card-header border-success">Download PubMed Data</h5> -->
          <div class="card-body">
            <div class="form-group">
              <!-- <label for="{{ form.pmids.label }}" class="col-form-label requiredField">{{ form.pmids.label }}: </label> -->
              {% if form.pmids.errors %}
                {% for error in form.pmids.errors %}
                  <div class="text-danger"><strong>{{ error|escape }}</strong></div>
                {% endfor %}
              {% endif %}
              <textarea required autofocus class="form-control bg-dark border-success text-white outline-success form" name="{{ form.pmids.html_name }}" id="{{ form.pmids.id_for_label }}" rows="5" placeholder="One PMID per row.">{{ form.pmids.value|default_if_none:"" }}</textarea>
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
              <small class=""><span id="count"></span> rows</small>
            </div>
          </div>
        </div>
        <br/>
        <input type="submit" name="Download" value="Download Excel File" class='btn btn-success col-12'>
    </form>
  </div>
</div>
{% endblock %}
{% block jscript %}
    <script src="{% static 'pubmed2xl/js/rows_counter.js' %}"></script>
{% endblock %}
